html {
    font-size: 22px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

body {
    background-image: url(images/retro.jpeg);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

img {
    width: 12.5%;
    border-radius: 50%;
}

div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
}

@media (max-width: 500px) {
    div {
        height: 100px;
    }
}